@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    opacity: 0.4;
    filter: grayscale(100%)
}

html {
    min-height: 100%;
}

body {
    font: 1.4em/1.8 'EB Garamond', serif;
    min-height: 100%;
}

.cabecera {
    display: flex;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #fafafa;
    position: relative;
}

.cabecera__imagen1 {
    height: 100vh;
    width: 50%;
}

.cabecera__imagen1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.cabecera__imagen2 {
    height: 100vh;
    width: 50%;
}

.cabecera__imagen2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.cabecera__titulo {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 3em;
}

@media (max-width: 37.5rem) {
    .cabecera {
        flex-direction: column; /* Cambio eje ppal a vertical */
    }
    .cabecera__imagen1 {
        width: 100%;
        height: 50vh;
    }
    .cabecera__imagen2 {
        width: 100%;
        height: 50vh;
    }
    .cabecera img {
        width: 100%;
        height: 100%;
        object-position: center top;
    }
    .cabecera__titulo {
        align-items: center;
    }
}